@font-face{
font-family:'helvetica-world';
src:url('https://good-web-dev.github.io/WebFonts/Helvetica-World.woff2') format('woff2');
}
@font-face{
font-family:'helvetica-world-bold';
src:url('https://good-web-dev.github.io/WebFonts/Helvetica-World-Bold.woff2') format('woff2');
}
:root{
--border:0.3vw solid #CEE5B7;
--th-bg-color:#74A242;
--th-fg-color:#ffffff;
--th-dark-bg-color:#528020;
--even-tr-bg-color:#E7F2DC;
}
table:not(.table){
margin:0 auto;
width:90%;
}
table:not(.table), td:not(.td), th:not(.th){
border-collapse: collapse;
font-family:'helvetica-world';
text-align:center;
padding:5px;   
font-size:15px;
font-weight:normal;
border:var(--border);
}
tr:not(.tr) td:not(.td):nth-child(even){
font-family:'helvetica-world-bold';
}
th:not(.th), button{
background-color:var(--th-bg-color);
color:var(--th-fg-color);
font-family:'helvetica-world-bold';
font-size:15px;
}
th[colspan="3"], button{
background-color:var(--th-dark-bg-color);
}
th.number{
padding:1px;
width:fit-content;
}
div table tr:not(.tr):nth-child(even){
background-color:var(--even-tr-bg-color);
}
button{
border:none;
}
.hidden-td, .hidden-table{
color:transparent;
}